/* Section title */
.section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #000040;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
  }

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.section-header {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #000040;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}

.testimonial-wrap {
  padding-left: 50px;
}

.testimonials-carousel,
.testimonials-slider {
  overflow: hidden;
}

.testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 0 15px 30px 0;
  min-height: 200px;
  box-shadow: 0px 2px 20px rgba(82, 86, 94, 0.1);
  position: relative;
  background: #fff;
}

.testimonial-item .testimonial-img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #000;
}

.testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonial-item .stars {
  margin: 10px 0;
}

.testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonial-item .quote-icon-left,
.testimonial-item .quote-icon-right {
  color: #ffd565;
  font-size: 26px;
  line-height: 0;
}

.testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #c5bfbf;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000040;
}

@media (max-width: 767px) {
  .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials-carousel,
  .testimonials-slider {
    overflow: hidden;
  }

  .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

  .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}


.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  font-size: 15px;

  /* Center slide text vertically */
  /* display: -webkit-box; */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}