a {
    color: #FF4800;
}

.text1 {
    font-size: 20px;
    color: #FF4800 !important;
    font-family: Ubuntu;
  }


i {
    color: white;
}
.btn1 {
    background-color: #00008d;
    border-color: #00008d;
}